<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.message %></td>
        <td><%= link_to 'Show', user_reminder_path(@user, reminder) %> | </td>
        <td><%= link_to 'Edit', edit_user_reminder_path(@user, reminder) %> | </td>
        <td><%= link_to 'Destroy', user_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

